* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: white;
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.caption {
    color: black;
    font-size: 1.5em;
}

.game {
    position: relative;
}

.uppertab {
    position: absolute;
    width: 64rem;
    top: 1.5em;
    display: flex;
    justify-content: center;
}

.player-health, .enemy-health {
    width: 40%;
    background-color: cadetblue;
    border: solid 3px white;
    height: 3em;
    position: relative;
    border-radius: .25em;
}

.player-health {
    border-right: none;
}

.enemy-health {
    border-left: none;
}

.time-left {
    width: 10%;
    padding: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: solid white 3px;
    border-radius: .5em;
    color: white;
    font-size: 1.25em;
    position: relative;
    bottom: .5em;
}

.player-left, .enemy-left {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(171, 3, 3, 0.8);
    border-radius: .25em;
}

.enemy-left {
    right: 0;
}

.player-left {
    left: 0;
}

.left-name {
    position: absolute;
    bottom: 105%;
    right: 1em;
}

.right-name {
    position: absolute;
    bottom: 105%;
    left: 1em;
}

.game-over {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.restart.gamepad-btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 3em;
}

.gamepad {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 95%;
    background-color: #453936;
    padding: 1em;
    display: none;
}

.left-btns, .right-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.gamepad-btn {
    cursor: pointer;
    padding: 1em;
    background-color: rgba(0, 0, 0, .4);
    border: solid rgba(255, 255, 255, .8) .5em;
    border-radius: 50%;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
}

.gamepad-btn:hover {
    background-color: rgba(100, 100, 100, .4);
}

@media (pointer:none), (pointer:coarse) {

    .gamepad {
        display: flex;
    }

}
